.basic-profile-zone {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.basic-profile-zone .name-zone {
  width: 70%;
}

.basic-profile-zone .picture-zone {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rating-zone {
  text-align: center;
  margin-top: 20px;
}